div#navbarSupportedContent {
    justify-content: flex-end;
}
.navbar {
    justify-content: flex-end;
}
.navbar-light .navbar-toggler {
    outline: 0;
}
body
{
    overflow-x: hidden;
}
$maincolor:#663399;

@mixin mainButton {
    background: #fff;
    border-radius: 50px;
    color: $maincolor;
    border: 0;
    padding: 10px 30px;
}


header{
    background-color: $maincolor;
    height: 33rem;
    nav
    {
        background: $maincolor !important;
        border-bottom: 1px solid #fff;
        .container
        {
            justify-content: flex-end !important;
            div.navbar-collapse
            {
                form
                {
                    button
                    {
                        @include mainButton;
                        outline: 0;
                    }
                }
            }
        }
    }

    .container
    {
        .row
        {
            div.first
            {
                padding: 8rem 0 0 0;
                .info
                {
                    p
                    {
                        margin-bottom: 2rem;
                        font-size: 20px;
                        line-height: 2.4rem;
                        color: #fff
                    }
                    button
                    {
                        @include mainButton;
                        padding: 12px 44px;
                        font-size: 20px;
                        font-weight: bolder;
                        outline: 0;
                    }
                }
            }
        }
    }
}


main
{
    margin-top: 8rem!important;
    .container
    {
        .row
        {
            div.col-md-6
            {
                .card
                {
                    box-shadow:0px 0px 5px 1px rgba(50, 50, 50, 0.4);
                    .icon
                    {
                        background: $maincolor;
                        width: 73px;
                        height: 73px;
                        margin: auto;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img
                        {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}

footer
{
    margin-top: 7rem;
    background-color: $maincolor;
    .upper
    {
        .container
        {
            padding-left: 0;
            margin-right: 0;
            background-color: #eee;
            .row
            {
                .first
                {
                    .img
                    {
                        img
                        {
                            height: 30rem;
                        }
                    }
                }
                .second
                {
                    padding: 90px 50px 0;
                    .info
                    {
                        h2
                        {
                        }
                        p
                        {
                            font-size: 17px;
                            line-height: 28px;
                        }
                        button
                        {
                            background: #663399;
                            border-radius: 50px;
                            color: #fff;
                            border: 0;
                            padding: 10px 30px;
                            padding: 12px 44px;
                            font-size: 20px;
                            font-weight: bolder;
                            outline: 0;
                        }
                    }
                }
            }
        }
    }

    .con-footer
    {
        padding: 30px 0;
        .down-footer
        {
            p
            {
                color: #fff;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

}




.popup-overlay
{
    position: fixed;
    background-color: rgba(0,0,0,.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup_box
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
    width: 90%;
    height: 90%;
}

.row
{
    .col-md
    {
            .img
                {
                    background-image: url('../img/Rectangle 29.png');
                    background-size: cover;
                    background-position: center;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    height: calc(100% - 20px);
                }
            .form
            {
                h2
                {
                    font-size: 2rem;
                    text-transform: uppercase;
                }
                p
                {
                    color: #777;
                    font-size: 18px;
                }
                form
                {
                    .name
                    {
                        display: flex;
                        margin-bottom: 1rem;
                        justify-content: space-between;
                        input
                        {
                            width: calc(48% - 2%);
                            height: 40px;
                            border: 1px solid #663399;
                            outline: 0;
                            border-radius: 50px;
                            padding-left: 13px;
                        }
                    }
                    .checked
                    {
                        display: flex;
                        flex-wrap: wrap;
                        .upper
                        {
                            width: 50%;
                        }
                        .down
                        {
                            width: 100%;
                            margin-top: 1rem;
                        }
                    }
                    input.block
                    {
                        display: block;
                        width: 100%;
                        height: 40px;
                        border: 1px solid #663399;
                        margin-bottom: 1rem;
                        outline: 0;
                        border-radius: 50px;
                        padding-left: 13px;
                    }
                    button
                    {
                        display: block;
                        width: 100%;
                        height: 60px;
                        border-radius: 50px;
                        border: 0;
                        outline: 0;
                        background-color:  #663399;
                        color: #ffff;
                        font-size: 20px;
                        font-weight: bold;
                        cursor: pointer;
                        margin: 2rem 0;
                    }
                }
            }
    }     
}


// Large devices (desktops, 992px and up)
@media (max-width: 992px) 
{ 
    footer .upper .container .row .second {
        padding: 23px;
    }
    main
    {
        .card
        {
            margin-bottom: 3rem;
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) 
{
    header 
    {
        height: unset;
        .img
        {
            img
            {
                width: 100%;
            }
        }
        div.first {
            margin-bottom: 3rem;
            padding-top: 4rem !important;
        }
        footer .upper .container {
            padding-left: 0; 
            margin-right: 0;
        }
        .info
        {
            text-align: center;
        }
    }
    footer .upper .container {
        margin-right: auto; 
    }
    main
    {
        .card
        {
            margin-bottom: 3rem;
        }
    }
}



